<header class="site-header" role="banner">

  <div class="container-fluid">
    <!-- Row que contiene logo y menú - Al avanzar hay que cambiar las columnas para adaptarse a desktops -->
    <div class="row">
      <!-- Col que contiene logo -->
      <div class="col-4 col-sm-2 col-xl-1">
        <div class="py-3" style="background-color: #CCC;">
          <img src="{{ "/assets/img/logo.svg" | relative_url }}" class="d-block mx-auto my-3" style="max-height: 150px;">
        </div>
        <h4 class="my-2" style="font-weight: 300; line-height: 100%;"><a class="site-title" href="{{ "/" | relative_url}}" style="text-decoration: none; color: #333;">{{ site.title | escape }}</a></h4>
      </div>
      <!-- Col que contiene menú y links a redes -->
      <div class="col-8 col-sm-10 col-xl-11">
        <nav class="nav flex-column">
          {% for my_page in site.pages %}
            {% if my_page.title %}
              <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
          {% endfor %}
          <a class="nav-link" href="http://works.szz.cl/">Works</a>
        </nav>
      </div>
    </div>
  </div>
</header>
