      <header class="site-header" role="banner">
        <div class="row">
          <!-- Col que contiene logo -->
          <div class="col-4 col-sm-2">
            <div class="py-3 container-logo-SZZ">
              <a href="{{ "/" | relative_url}}"><img src="{{ "/assets/img/logo.svg" | relative_url }}" class="logo-SZZ d-block mx-auto my-3" style="max-height: 7.5rem;"></a>
            </div>
            <h1 class="h4 my-2 szz-title"><a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a></h1>
          </div>
          <!-- Col que contiene menú y links a redes -->
          <div class="col-8 col-sm-10">
            <nav class="nav flex-column py-3">
              <!-- <a class="nav-link pr-0 pr-md-3 pl-md-0 text-right text-md-left" href="http://works.szz.cl/">Portafolio</a> -->
              {% assign sorted_pages = site.pages | sort:"order" %}
              {% for node in sorted_pages %}
                {% if node.title %}
                  <li><a class="nav-link pr-0 pr-md-3 pl-md-0 text-right" href="{{ node.url | relative_url }}">{{ node.title | escape }}</a></li>
                {% endif %}
              {% endfor %}
            </nav>
          </div>
        </div>
      </header>
