---
---

/* Los colores ahora se tienen que cambiar según el nuevo sistema de Bootstrap */
$brand-primary: #5F4B8B;
$rosado: #f0a1bf;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary": $brand-primary
), $theme-colors);

@import "bootstrap";

body {
  background: #f2f2f2;
}

body.page-darks p, body.page-darks h1, body.page-darks h2, body.page-darks h3, body.page-darks h4, body.page-darks h5, body.page-darks h6  {
  color: $gray-200;
}

h1.szz-title {
  font-weight: 300;
  line-height: 100%;
}

h1.szz-title a {
  text-decoration: none;
  color: $gray-700;
  display: table-caption;
}

img.emoji {
// Override any img styles to ensure Emojis are displayed inline
  margin: 0px !important;
  display: inline !important;
  width: 1.5rem;
  height: auto;
}

.page-darks h1.szz-title a, .page-darks h1.post-title {
  color: $gray-200;
}

.manuscrita {
  font-family: 'Indie Flower', sans-serif;
}
.post-meta {
  line-height: 85%;
}
.fecha-home {
  font-size: 21px;
}

.container-logo-SZZ {
  width: 100%;
  max-width: 6.75rem;
  background-color: lighten($brand-primary, 35%);
}
.logo-SZZ {
  height: 7rem;
}

.site-footer {
  line-height: 1.2rem;
  border-top: solid 1px #999;
  background-color: $gray-200;
}

.site-footer p {
  color: $gray-700!important;
}

.page-darks span.text-muted {
  color: $gray-200!important;
}

@media (min-width: 1200px) {
  .nav-szz li:nth-of-type(2), .nav-szz li:nth-of-type(4)  {
    border-right: solid 1px $brand-primary;
    margin-right: 1rem!important;
  }
}

/* Portada: Bordes para separar textos */
.odd.borde-columna, .even.borde-columna {
  border-bottom: dashed 1px $brand-primary;
}

@media (min-width: 992px) {
  .odd.borde-columna {
  border-right: dashed 1px $brand-primary;
  }
}

div.es span.gb, div.en span.cl {
  display: none;
}

@media (min-width: 992px) {
  span.cl, span.gb {
    display: none;
  }
}

/* About */

.img-sof {
  width: 30vw;
  max-width: 400px;
}
