---
---

$brand-primary: #3A6474;

@import "bootstrap";

body {
  background-color: lighten($brand-primary, 60%);
}

body.page-darks p, body.page-darks h1, body.page-darks h2, body.page-darks h3, body.page-darks h4, body.page-darks h5, body.page-darks h6  {
  color: $gray-lighter;
}

h1.szz-title {
  font-weight: 300;
  line-height: 100%;
}

h1.szz-title a {
  text-decoration: none;
  color: $gray;
  display: table-caption;
}

.page-darks h1.szz-title a, .page-darks h1.post-title {
  color: $gray-lightest;
}

.manuscrita {
  font-family: 'Indie Flower', sans-serif;
}

.container-logo-SZZ {
  width: 100%;
  max-width: 6.75rem;
  background-color: lighten($brand-primary, 45%);
}
.logo-SZZ {
  height: 7rem;
}

.site-footer {
  line-height: 1.2rem;
  border-top: solid 1px #999;
  background-color: $gray-lighter;
}

.site-footer p {
  color: $gray!important;
}

.page-darks span.text-muted {
  color: $gray-light!important;
}
