<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body {% if page.layout == "post" %}class="post"{% endif %}>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-8 col-xl-6">
          {% include header.html %}
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8 col-xl-6 pt-3">
          <main class="page-content" aria-label="Content">
            <div class="wrapper">
              {{ content }}
            </div>
          </main>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
